body {
    background-color: #f1f1f1;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.logo img {
    height: 100px;
    width: 100px;
    object-fit: contain;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.form input {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.form button {

    background-color: #6b88d8;
    top: 432px;
    left: 29px;
    width: 98px;
    height: 44px;
    padding: 0 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Segoe UI;
    /* Body */
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFFFF;
    /* white */
    background: #1091F4FF;
    /* info-500 */
    opacity: 1;
    border: none;
    border-radius: 4px;
    /* border-m */
    gap: 6px;
}

.button .icon {
    width: 20px;
    height: 20px;
    fill: #FFFFFFFF;
    /* white */
}

/* Hover */
.button:hover {
    color: #FFFFFFFF;
    /* white */
    background: #0974C6FF;
    /* info-600 */
}

/* Pressed */
.button:hover:active {
    color: #FFFFFFFF;
    /* white */
    background: #0865ADFF;
    /* info-650 */
}

/* Disabled */
.button:disabled {
    opacity: 0.4;
}
